*.o
*.plist
objs
*~
*.gch
.vscode
tradingApp.make
testsuite.make
Makefile
bin/*
lib/*
build/*
.idea/*
conaninfo.txt
conanpremake.lua
activate_run.*
deactivate_run.*
environment_run.*
conan.lock
conan_imports_manifest.txt
conanbuildinfo*
graph_info.json
CMakeLists.txt.user
compile_flags.txt
