*.o
*.plist
objs
tradingApp
testsuite
*~
*.gch
.vscode
tradingApp.make
testsuite.make
Makefile
bin/*
lib/*
conaninfo.txt
conanpremake.lua
activate_run.*
deactivate_run.*
environment_run.*
conan.lock
conan_imports_manifest.txt
conanbuildinfo*
graph_info.json
