<html>
<head>
    <script src="static/jquery-3.1.0.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/simpledatagrid/simple.datagrid.js"></script>
    <link rel="stylesheet" type="text/css" href="static/simpledatagrid/simple.datagrid.css">
</head>
<body>

<h2>Welcome</h2>

<script>
function quoteStock() {
    $.get("quote", {"stockCode": $("#code").val()},
        function(data) {
            console.log(data);
            console.log(data["quote"]);
            $("#quote").text(data["quote"]);
        }
    );
}

function loadTransactions() {
    $.get("transactions", function(data) {
        $('#transactionsGrid').simple_datagrid(
            {
                data: data["results"]
            }
        );
    });
}

</script>
<form id="sellBuyForm" action="sellBuy" method="post">
<div>
Stock: <input type="text" name="code" id="code" /> Quantity: <input name="quantity" value="1" /> <input type="button" value="quote" onclick="quoteStock();" /> <span id="quote"></span>
<select id="operation" >
    <option value="buy">Buy</option>
    <option value="sell">Sell</option>
</input>
<input type="submit" value="Go" />
</div>
</form>

<div>
Portfolio
</div>
<div>
Transactions
<table id="transactionsGrid">
  <thead>
    <tr>
      <th>Stock Code</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
</table>

<script type="text/javascript">

$(function() {
    loadTransactions();

    var operation = $("#operation").val();
    $("#sellBuyForm").submit(function(e) {
        e.preventDefault();
        $.ajax({
                url: operation,
                type: 'post',
                dataType: 'json',
                data: $("#sellBuyForm").serialize(),
                success: function(data) {
                    loadTransactions();
                },
                error: function(data) {
                    console.log("Error");
                    console.log(data);
                }
        });
        return false;
    });

});
</script>

</body>
</html>
