<html>
<head>
    <script src="static/jquery-3.1.0.min.js"></script> 
</head>
<body>

<h2>Welcome</h2>

<script>
function quoteStock() {
    $.get("quote", {"stockCode": $("#code").val()},
        function(data) {
            console.log(data);
            console.log(data["quote"]);
            $("#quote").text(data["quote"]);
        }
    );
}
</script>
<form id="sellBuyForm" action="sellBuy" method="post">
<div>
Stock: <input type="text" name="code" id="code" /> Quantity: <input name="quantity" value="1" /> <input type="button" value="quote" onclick="quoteStock();" /> <span id="quote"></span>
<select id="operation" >
    <option value="buy">Buy</option>
    <option value="sell">Sell</option>
</input>
<input type="submit" value="Go" />
</div>
</form>

<div>
Portfolio
</div>
<div>
Transactions
</div>


<script type="text/javascript">
$(function() {
    var operation = $("#operation").val();
    $("#sellBuyForm").submit(function(e) {
        e.preventDefault();
        $.ajax({
                url: operation,
                type: 'post',
                dataType: 'json',
                data: $("#sellBuyForm").serialize(),
                success: function(data) {
                    console.log("reload transactions");
                },
                error: function(data) {
                    console.log("Error");
                    console.log(data);
                }
        });
        return false;
    });

});
</script>

</body>
</html>
