
<html lang="en">
<head>
    <script src="static/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">

<h2>Register</h2>

<form id="registerTraderForm" action="registerTrader" method="post">
<div>
Username: <input type="text" name="username" /> 
</div>
<div>
Password: <input type="password" name="pass" /> 
</div>
<input type="submit" value="Register" />
</form>

</div>

<script type="text/javascript">
$(function() {
    $("#registerTraderForm").submit(function(e) {
        e.preventDefault();
        var actionurl = e.currentTarget.action;
        $.ajax({
                url: actionurl,
                type: 'post',
                dataType: 'json',
                data: $("#registerTraderForm").serialize(),
                success: function(data) {
                    window.location.replace("/");
                },
                error: function(data) {
                    console.log("Error");
                    console.log(data);
                }
        });
        return false;
    });

});
</script>

</body>
</html>