
<html lang="en">
<head>
    <script src="static/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
<h2>Welcome!</h2>

<p>Please <a href="/login">login</a> or <a href="/signup">sign-up</a> to continue.</p>
</div>
</body>
</html>